@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:400,700&subset=latin-ext');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app {
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  padding: 15px;
  &__title {
    color: #ffffff;
    font-family: 'Lato';
    text-align: center;
  }
}

.numbers {
  text-align: center;
  border-top: 1px solid #bbb;
  padding-top: 20px;
}
.numbers,
.answer {
  span {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background: #bbb;
    border-radius: 50%;
    &.selected,
    &.used {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &.used {
      background: green;
    }
  }
}
