.done-frame {
  &__title {
    font-family: 'Lato';
  }
  &__btn {
    padding: 10px;
    transition: all 0.3s;
    &:hover,
    &:active {
      background: #000000;
      color: #ffffff;
    }
  }
}
