.game {
  &__top {
    display: flex;
    justify-content: space-between;
    // max-width: 300px;
    // @include min-screen(500px) {
    //   max-width: initial;
    // }
    margin: 0 auto 25px;
    > div {
      width: 20%;
      text-align: center;
    }
    .stars,
    .answer {
      width: 40%;
    }
  }
  &__panel {
    background: #ffffff;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    @include min-screen(500px) {
      max-width: 500px;
    }
  }
  &__title {
    font-family: 'Lato';
    text-align: center;
    font-size: 25px;
    margin-top: 0;
  }
}
