.game {
  &__top {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    margin: 0 auto 25px;
  }
  &__panel {
    background: #ffffff;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 30px;
  }
}
